<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>

    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
        <div class="navbar-info">
            <span id="span-username"></span>
            <span>with roles:</span>
            <span id="span-roles"></span>
        </div>
        <form method="post" action="/logout">
            <button type="submit" class="nav-link logout">Logout</button>
        </form>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <!--  Left sidebar sticky-->
            <nav class="col-md-2 d-none bg-light sidebar d-md-block main-panel">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link active">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/user}" class="nav-link">User</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!--  Центральная панель страницы  -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 main-panel">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="main-tab">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all-users" role="tab" aria-controls="home" aria-selected="true">All users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#new-user" role="tab" aria-controls="profile" aria-selected="false">New user</a>
                    </li>
                </ul>

                <div class="tab-content" id="tabContent">
                    <!--  Main table  -->
                    <div class="tab-pane fade show active" id="all-users" role="tabpanel" aria-labelledby="home-tab">
                        <div class="tab-item">
                            <h2 class="tab-item__header">All users</h2>
                            <div class="table-responsive tab-item__content">
                                <table id="all-users-table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">ROLE</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- New user form -->
                    <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="tab-item">
                            <h2 class="tab-item__header">Add New User</h2>
                            <div class="tab-item__content d-flex flex-column align-items-center justify-content-center font-weight-bold text-center">
                                <form th:method="post" action="/api/users"
                                      class="small-form"
                                      id="new-user-form">
                                    <div class="mb-3">
                                        <label for="new-user__first-name">First name</label>
                                        <input id="new-user__first-name" type="text" class="form-control first-name" placeholder="First Name" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="new-user__last-name">Last name</label>
                                        <input id="new-user__last-name" type="text"  class="form-control" placeholder="Last Name" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="new-user__age">Age</label>
                                        <input id="new-user__age" type="text" class="form-control" placeholder="Age" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="new-user__email">Email</label>
                                        <input id="new-user__email" type="text"  class="form-control" placeholder="Email" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="new-user__password">Password</label>
                                        <input id="new-user__password" type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="mb-3">
                                        <label>ROLE</label>
                                        <select id="new-user__roles" name="new-user-role-select" class="custom-select" size="2" multiple>
                                        </select>
                                    </div>

                                    <button id="new-user__submit" type="submit" class="btn btn-success btn-lg">Добавить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-success" role="alert"
                     style="position: absolute; top: 80px; right: 10px; width: 450px; text-align: center; display: none;">

                </div>
            </main>
        </div>
    </div>

    <div id="modal-page">
        <div class="modal fade" id="modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex align-items-center justify-content-center ">
                        <form action="/api/users" method="put" id="modal-form" class="small-form font-weight-bold text-center">
                            <div class="mb-3">
                                <label for="id">ID</label>
                                <input id="id" name="id" type="text" class="form-control" readonly >
                            </div>
                            <div class="mb-3">
                                <label for="first-name">First name</label>
                                <input id="first-name" name="first-name" type="text" class="form-control" >
                            </div>
                            <div class="mb-3">
                                <label for="last-name">Last name</label>
                                <input id="last-name" name="last-name" type="text"  class="form-control" >
                            </div>
                            <div class="mb-3">
                                <label for="age">Age</label>
                                <input id="age" name="age" type="text" class="form-control" >
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input id="email" name="email" type="text"  class="form-control" >
                            </div>
                            <div class="mb-3" id="password-group">
                                <label for="password">Password</label>
                                <input id="password" name="new-password" type="password" class="form-control" placeholder="password">
                            </div>
                            <div class="mb-3">
                                <label for="roles">ROLE</label>
                                <select id="roles" name="roles" class="custom-select" size="2" multiple>

                                </select>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn" form="modal-form">Edit</button>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="modal fade" id="deleteModal" role="dialog" aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body d-flex align-items-center justify-content-center">-->
<!--                        <form action="api/users/" th:method="delete"-->
<!--                              class="small-form font-weight-bold text-center"-->
<!--                              id="delete-form">-->
<!--                            <div class="mb-3">-->
<!--                                <label for="delete-id">ID</label>-->
<!--                                <input id="delete-id" type="text" class="form-control" readonly>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="delete-first-name">First name</label>-->
<!--                                <input id="delete-first-name" type="text" class="form-control" readonly>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="delete-last-name">Last name</label>-->
<!--                                <input id="delete-last-name" type="text"  class="form-control" readonly>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="delete-age">Age</label>-->
<!--                                <input id="delete-age" type="text" class="form-control" readonly>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="delete-email">Email</label>-->
<!--                                <input id="delete-email" type="text"  class="form-control" readonly>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="delete-role-select">ROLE</label>-->
<!--                                <select id="delete-role-select" name="roles" class="custom-select" size="2" multiple>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        <button type="submit" class="btn btn-danger" form="delete-form">Delete</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>



    <script th:src="@{/js/vendor/jquery.min.js}"></script>
    <script th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</body>
</html>